body {
 display: flex;
 gap: 20px;
}

.button-group {
 display: flex;
 margin-bottom: 30px;
 gap: 16px;
}

.button {
 display: flex;
 border-color: red;
 border-radius: 5px;
}

.google-image {
 height: 20px;
 width: 20px;
}

.apple-image {
  height: 20px;
 width: 20px;
}
.form {
 display: flex;
 flex-direction: column;
 gap: 16px;
}

.aside {
 background-color: blue;
 border: 1px;
 border-radius: 10px;
 width: 100vw;
 height: 200vh;
 margin-top: 16px;
 padding-left: 80px;
}
 
.aside-form {
 width: 50vw;
 height: 100vh;
 margin-top: 20px;
 background-color: white;
 border: 1px;
 border-radius: 5px;
 padding-left: 16px;
 padding-right: 16px;
}

.main {
 width: 50vw;
 height: 100vh;
}

.form-buttons {
 display: flex;
 justify-content: space-between;
}