body {
display: flex;
gap: 16px;
}

.main, .aside {
 width: 50vw;
 height: 100vh;
 padding: 30px 80px;
}

.aside {
 background-color: blue;
 margin-top: 16px;
}

.aside-txt {
 color: #fff;
}

.button-group {
 display: flex;
 gap: 16px;
 margin-bottom: 30px;
}

.button {
 backround-color: #fff;
 border-color: #1d1d1d;
 padding: 20px 80px;
 border-radius: 20px;
 display: flex;
 align-items: center;
 justify-content: space-between;
}

.button__google, .button__apple {
 width: 16px;
}

label {
 display: flex;
 flex-direction: column;
}